body {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding-top: 5em;
  background-color: #EADFB4;
  color: #fd6913;
  padding-bottom: 2em;
}
